
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
  }
  body {
    height: 100%;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  
  header {
    background-color: #17072b;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 1rem;
  }
  
  header h1 {
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
  
  
  nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
  }
  
  
  
  main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
  }
  
  
  .welcome {
    flex: 2;
  }
  
  .welcome h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: 3px solid #000;
    display: inline-block;
  }
  
  .welcome p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }
  
  .welcome img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  
  .line-up {
    flex: 1;
    background-color: #172d67;
    color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
  }
  
  .line-up h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
  
  .line-up ul {
    list-style: none;
    margin-bottom: 1rem;
  }
  
  .line-up li {
    margin-bottom: 0.8rem;
  }
  
  
  .line-up-images {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
  
  .line-up-images img {
    width: 48%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 6px;
  }
  
  
  footer {
    background-color: #8c15e9;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
  
  }
  
  
  footer {
    background-color: #8c15e9;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: auto;
  }

  #CodePic {
    max-width: 596px; 
    height: 200px; 
    width: 300px;
  }
  